*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Primary colors

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  background: hsl(210, 46%, 95%);
}

main {
  margin-top: 5em;
}

p,
h4 {
  margin: 0;
}

img {
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.cards:nth-child(1) {
  background: url(../images/bg-pattern-quotation.svg) no-repeat 80% 0;
  background-color: hsl(263, 55%, 52%);
  background-origin: content-box;
}

.cards:nth-child(1) img {
  border: 0.2em solid hsl(263, 41%, 64%);
}

.cards:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
}

.cards:nth-child(3) {
  background-color: hsl(0, 0%, 100%);
}

.cards:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
}

.cards:nth-child(4) img {
  border: 0.2em solid hsl(263, 55%, 52%);
}

.cards:nth-child(5) {
  background-color: hsl(0, 0%, 100%);
}

.dark_color {
  color: hsl(217, 19%, 35%);
}

.cards {
  border: 1px solid transparent;
  border-radius: 0.6em;
  padding: 0 2em 0;
  box-shadow: 0 1px 15px hsl(0, 0%, 81%);
}

.card_header {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

.card_text {
  padding-bottom: 3em;
  margin-top: 1.5em;
  color: white;
  opacity: 70%;
}

.flex-author {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 2em;
  margin-bottom: 1.5em;
}

.author-name {
  color: white;
}

.author-status {
  color: white;
  opacity: 50%;
}

.dark_font {
  color: hsl(219, 29%, 14%);
}

@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .card-1 {
    grid-column: span 2;
  }

  .card-3 {
    grid-row: 2;
  }

  .card-4 {
    grid-row: 2;
    grid-column: span 2;
  }

  .card-5 {
    grid-row: span 2;
  }
}
